<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHJ72CYf_NBHh7rwWvLz7OiYPnhzFBmXc</string>
	<key>GCM_SENDER_ID</key>
	<string>542165286323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HCIP.HCOperation</string>
	<key>PROJECT_ID</key>
	<string>hc-interior</string>
	<key>STORAGE_BUCKET</key>
	<string>hc-interior.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542165286323:ios:dc62897b30a0cc67961fc6</string>
</dict>
</plist>